<div>
  <h2 id="page-heading" data-cy="CategoryHeading">
    <span jhiTranslate="jhipsterApp.category.home.title">Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.category.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-category"
        [routerLink]="['/category/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="jhipsterApp.category.home.createLabel"> Create a new Category </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="jhipsterApp.category.home.search">Query</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'jhipsterApp.category.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span jhiTranslate="jhipsterApp.category.home.notFound">No categories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="jhipsterApp.category.description">Description</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sortOrder">
            <span jhiTranslate="jhipsterApp.category.sortOrder">Sort Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateAdded">
            <span jhiTranslate="jhipsterApp.category.dateAdded">Date Added</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateModified">
            <span jhiTranslate="jhipsterApp.category.dateModified">Date Modified</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="jhipsterApp.category.status">Status</span> <fa-icon *ngIf="!currentSearch" icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="parent.id">
            <span jhiTranslate="jhipsterApp.category.parent">Parent</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/category', category.id, 'view']">{{ category.id }}</a>
          </td>
          <td>{{ category.description }}</td>
          <td>{{ category.sortOrder }}</td>
          <td>{{ category.dateAdded | formatMediumDate }}</td>
          <td>{{ category.dateModified | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.CategoryStatus.' + category.status }}">{{ category.status }}</td>
          <td>
            <div *ngIf="category.parent">
              <a [routerLink]="['/category', category.parent?.id, 'view']">{{ category.parent?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/category', category.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/category', category.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(category)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories && categories.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
